<div class="container mt-5">
  <h2 class="text-center mb-4">Student Data</h2>

  <div class="card">

    <div class="card-body" infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="300"
         (scrolled)="onScroll()">
      <div class="table-responsive" [style.overflow]="'hidden'" style="height: 60vh;">
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Picture</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Semester</th>
              <th>Identification Number</th>
              <th>Date of Birth</th>
              <th>Date of Admission</th>
              <th>Degree Title</th>
              <th>Year of Study</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>
                <img [src]="student.uploadPicture" alt="{{ student.firstName }} {{ student.lastName }}"
                     class="img-fluid rounded-circle" loading="lazy" style="width: 50px; height: 50px;">
              </td>
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.semester }}</td>
              <td>{{ student.identificationNumber }}</td>
              <td>{{ student.dateOfBirth | date }}</td>
              <td>{{ student.dateOfAdmission | date }}</td>
              <td>{{ student.degreeTitle }}</td>
              <td>{{ student.yearOfStudy }}</td>
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button (click)="onEdit(student)" class="btn btn-primary btn-sm me-2" title="Edit">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="onDelete(student.identificationNumber)" class="btn btn-danger btn-sm" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
