.student-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  max-width: 90vw;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-container h1 {
  text-align: start;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #28a745; /* Bootstrap success color */
}

.student-container form {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between items */

    .form-group {
      flex: 1 1 calc(33.333% - 15px); /* 3 items per row */
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 0.9rem;
        color: #28a745; /* Bootstrap success color */
      }

      input,
      select {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 1rem;

        &:focus {
          border-color: #28a745; /* Focus border color */
          box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Shadow effect */
        }
      }

      input[type="file"] {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        background-color: #fff;
        font-size: 1rem;
        cursor: pointer;

        &::-webkit-file-upload-button {
          background-color: #28a745; /* Bootstrap success button */
          color: #fff;
          border: none;
          padding: 10px;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #218838; /* Darker on hover */
          }
        }
      }
    }
  }

  button {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #28a745; /* Bootstrap success color */
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838; /* Darker on hover */
    }
  }
}

@media (min-width: 600px) {
  .student-container .form-row .form-group {
    flex: 1 1 calc(50% - 15px); /* 2 items per row */
  }
}

@media (min-width: 900px) {
  .student-container .form-row .form-group {
    flex: 1 1 calc(33.333% - 15px); /* 3 items per row */
  }
}

.error {
  color: red; /* Warning color */
  font-size: 0.9em;
  margin-top: 5px;
}

/* Responsive styles for the table */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto; /* Enables horizontal scrolling */
  }

  .table th,
  .table td {
    white-space: nowrap; /* Prevents text from wrapping */
  }
}
.text-success a {
  color: #28a745;
  text-decoration: none;

  /* This is the green color used by Bootstrap for text-success */
}
